<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./resources/css/elementUI.css">
    <link rel="stylesheet" href="./resources/css/index.css">
    <title>聚类市场运营平台</title>
</head>

<body>
    <div id="pageContainer" v-cloak>
        <header>
            <div class="flexCol">
                <!-- <div class="flex"><i class="icon phone"></i><span>技术支撑电话：陈文葛 156-2001-1553</span></div>
                <div class="flex"><i class="icon msg"></i><span>技术支撑邮箱：陈文葛 chenwg24@chinaunicom.cn</span></div> -->
            </div>
            <div><img src="./resources/images/logo.png" height="40" style="margin-right: 30px" /> 聚类市场运营平台</div>
            <div class="flexCol">
                <div class="flex">
                    <div class="flex-item dateStyle">{{date}}</div>
                    <div class="flex-item"><i class="icon person"></i>登录人：陈文葛</div>
                    <div class="flex-item"><i class="icon end"></i>退出登录</div>
                </div>
                <div class="flex">
                    <div class="flex-item"><i class="icon download"></i> <span class="lineText">聚类市场基础信息明细下载</span></div>
                    <div class="flex-item"><i class="icon download"></i> <span class="lineText">聚类市场业务信息明细下载</span></div>
                </div>
            </div>
        </header>
        <section>
            <div class="section-lf">
                <div class="lf-top">
                    <div class="lf-top-cont flex">
                        <div class="flex-item"><i class="icon bar"></i>
                            <div class="flexCol">
                                <p>7,560</p>
                                <p>聚类市场数</p>
                            </div>
                        </div>
                        <div class="flex-item"><i class="icon bar"></i>
                            <div class="flexCol">
                                <p>7,560</p>
                                <p>商务楼宇</p>
                            </div>
                        </div>
                        <div class="flex-item"><i class="icon bar"></i>
                            <div class="flexCol">
                                <p>7,560</p>
                                <p>专业市场</p>
                            </div>
                        </div>
                        <div class="flex-item"><i class="icon bar"></i>
                            <div class="flexCol">
                                <p>7,560</p>
                                <p>工业园区</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lf-mid" @click="sendMsg('月收入统计','monthIncome')">
                    <div class="titleDiv"><span>月收入统计</span><span>2019-03</span></div>
                    <div class="titleCont">
                        <div>1</div>
                        <div class="topBorder">2</div>
                    </div>
                </div>
                <div class="lf-bot" @click="sendMsg('客户数总计','customer')">
                    <div class="titleDiv"><span>客户数总计</span><span>2019-03</span></div>
                    <div class="titleCont">
                        <div>
                            <div class="block-title blue">
                                <div class="flexbet">
                                    <div>固网业务发展</div>
                                    <div><span>122,344.21</span>（户）</div>
                                </div>
                            </div>
                            <div class="block-cont blue">
                                <div class="flex">
                                    <div class="flexbet">
                                        <div>固话</div>
                                        <div>122,344（户）</div>
                                    </div>
                                    <div class="flexbet">
                                        <div>FTTH</div>
                                        <div>122,344（户）</div>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="flexbet">
                                        <div>宽带专线</div>
                                        <div>122,344（户）</div>
                                    </div>
                                    <div class="flexbet">
                                        <div>网元</div>
                                        <div>122,344（户）</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topBorder">
                            <div class="block-title blue">
                                <div style="border:none">异网客户数总计</div>
                            </div>
                            <div class="block-cont flex">
                                <div class="flex-item">
                                    <div id="gaugeChart" style="width:100%;height:100%;">仪表盘</div>
                                </div>
                                <div class="flex-item numberBlock">
                                    <div><span>122,344.21</span>（户）</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map" @click="sendMsg('天津市网管大厦','building')"></div>
            <div class="section-rt">
                <div class="rt-top">
                    <div class="titleDiv"><span>资源总览</span></div>
                    <div class="titleCont">
                        <div>饼图</div>
                    </div>
                </div>
                <div class="rt-bot" @click="sendMsg('当月发展业务总览','business')">
                    <div class="titleDiv"><span>当月发展业务总览</span><span>2019-03</span></div>
                    <div class="titleCont">
                        <div>
                            <div class="block-title blue">
                                <div class="flexbet">
                                    <div>固网业务发展</div>
                                    <div><span>122,344.21</span>（户）</div>
                                </div>
                            </div>
                            <div class="block-cont blue">
                                <div class="flex">
                                    <div class="flexbet">
                                        <div>固话</div>
                                        <div>122,344（户）</div>
                                    </div>
                                    <div class="flexbet">
                                        <div>FTTH</div>
                                        <div>122,344（户）</div>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="flexbet">
                                        <div>宽带专线</div>
                                        <div>122,344（户）</div>
                                    </div>
                                    <div class="flexbet">
                                        <div>网元</div>
                                        <div>122,344（户）</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="topBorder">
                            <div class="block-title green">
                                <div class="flexbet">
                                    <div>固网业务拆机</div>
                                    <div><span>122,344.21</span>（户）</div>
                                </div>
                            </div>
                            <div class="block-cont green">
                                <div class="flex">
                                    <div class="flexbet">
                                        <div>固话</div>
                                        <div>122,344（户）</div>
                                    </div>
                                    <div class="flexbet">
                                        <div>FTTH</div>
                                        <div>122,344（户）</div>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="flexbet">
                                        <div>宽带专线</div>
                                        <div>122,344（户）</div>
                                    </div>
                                    <div class="flexbet">
                                        <div>网元</div>
                                        <div>122,344（户）</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- 弹出层 -->
        <el-dialog :title="dialogTitle" :visible.sync="isDialogShow" width="80%">
            <component v-if="isDialogShow" :is="dialogCompent" :head-call="headCall" :send-params="thirdParams">
            </component>
        </el-dialog>
        <!-- 网管大厦 -->
        <script type="text/x-template" id="building">
          <div style="margin-left:60px">
              <div class="wg-right-box">
                  <div class="wg-right">
                      <div>
                          <img src="./resources/images/export-icon.png" alt="">
                          <span class="nstration bottom">聚类市场基础信息明细下载</span>
                      </div>
                      <div style="margin:0">
                          <img src="./resources/images/export-icon.png" alt="">
                          <span class="nstration bottom">聚类市场业务信息明细下载</span>
                      </div>
                  </div>
              </div>
              <div class="header_bg">
                  <div class="flex_col_2">
                      <div class="center">
                          <span class="baseInfo">基本信息</span>
                          <span class="spot"></span>
                          <span class="blueInfo">楼宇编码：</span>
                          <span class="whiteInfo">SWLY0220228</span>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="flex_col_1">
                      <div class="center2">
                          <span class="spot"></span>
                          <span class="blueInfo">楼层数：</span>
                          <span class="whiteInfo">27 &nbsp;层</span>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="flex_col_1"> 
                      <div class="center2">
                          <span class="spot"></span>
                          <span class="blueInfo">建筑面积：</span>
                          <span class="whiteInfo">50397.29 &nbsp;㎡</span>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="flex_col_3">
                      <div class="center">
                          <span class="spot ml15"></span>
                          <span class="blueInfo">地址：</span>
                          <span class="whiteInfo">天津市和平区新兴路27号</span>
                      </div>
                      <div class="line"></div>
                  </div>
              </div>

              <div class="mainBox">
                  <div class="col_1 left">
                      <div class="col_top">
                          <div class="tit">固网业务总览</div>
                          <div class="out_div">
                              <div>
                                  <span class="blueInfo">月收入</span>
                                  <span class="blueInfo size20">26,999.68</span>
                                  <span class="blueInfo">(元)</span>
                              </div>
                              <div>
                                  <span class="blueInfo">客户数</span>
                                  <span class="blueInfo size20">95</span>
                                  <span class="blueInfo">(户)</span>
                              </div>
                          </div>
                      </div>
                      <div class="col_bottom">
                          <div class="tit">固网欠费</div>
                          <div class="bot_content">
                              <div>
                                  <span class="blueInfo">当月欠费</span>
                                  <span class="blueInfo size20">26,999.68</span>
                                  <span class="blueInfo">(万)</span>
                              </div>
                              <div class="lineChart" id="monthLine"></div>
                              <div>
                                  <span class="violet">当年累计欠费</span>
                                  <span class="violet size20">26,999.68</span>
                                  <span class="blueInfo">(万)</span>
                              </div>
                              <div class="lineChart" id="yearLine"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col_1 left">
                      <div class="col_top">
                          <div class="tit">创新业务总览</div>
                          <div class="out_div">
                              <div>
                                  <span class="blueInfo">月收入</span>
                                  <span class="blueInfo size20">26,999.68</span>
                                  <span class="blueInfo">(元)</span>
                              </div>
                              <div>
                                  <span class="blueInfo">客户数</span>
                                  <span class="blueInfo size20">95</span>
                                  <span class="blueInfo">(户)</span>
                              </div>
                          </div>
                      </div>
                      <div class="col_bottom">
                          <div class="tit">资源信息总览</div>
                          <div class="bot_content">
                              <ul class="myTab">
                                  <li class="active">FTTH资源</li>
                                  <li>专线资源</li>
                                  <li>光缆</li>
                                  <li>成端设备</li>
                              </ul>
                              <div style="height:170px" id="pieChart"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col_1">
                      <div style="position: relative;">
                          <div class="tit">资源信息</div>
                      </div>
                      <div class="col_1_top">
                          <div  style="padding-top: 4px;">
                              <span class="blueInfo">分光器</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                          <div style="margin-top: 30px;">
                              <span class="blueInfo">FTTH端口</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                          <div style="margin-top: 30px;">
                              <span class="blueInfo">占用端口</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                          <div style="margin-top: 34px;">
                              <span class="blueInfo">楼层终端盒</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                          <div style="margin-top: 30px;">
                              <span class="blueInfo">用户终端盒</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                      </div>

                      <div class="col_1_top_2">
                          <div  style="padding-top: 32px;">
                              <span class="blueInfo">楼内光交箱</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                          <div style="margin-top: 30px;">
                              <span class="blueInfo">楼外光交箱</span>
                              <span class="blueInfo">78 &nbsp;(个)</span>
                          </div>
                      </div>
                  </div>
                  <div class="col_2">
                      <div class="rt_content">
                          <div class="imgBox" @click="goDetail">
                              <div></div>
                          </div>
                          <div class="rt_line"></div>
                          <ul class="rt_bottom">
                              <li>
                                  <div>
                                      <span class="blueInfo">承包经理：</span>
                                      <span class="blueInfo">张三</span>
                                  </div>
                                  <div>
                                      <span class="blueInfo">联系方式：</span>
                                      <span class="blueInfo">13888101010</span>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <span class="blueInfo">装维经理：</span>
                                      <span class="blueInfo">张三</span>
                                  </div>
                                  <div>
                                      <span class="blueInfo">联系方式：</span>
                                      <span class="blueInfo">13888101010</span>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <span class="blueInfo">响应经理：</span>
                                      <span class="blueInfo">张三</span>
                                  </div>
                                  <div>
                                      <span class="blueInfo">联系方式：</span>
                                      <span class="blueInfo">13888101010</span>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              
          </div>
      </script>
      <!-- 月收入 -->
      <script type="text/x-template" id="monthIncome">
          	<div>
               
                <div class='dia_header'>
                    <div class="left">
                        <div>
                            <span class="nstration mr10">账期选择:</span>
                            <el-date-picker v-model="value1" type="date" placeholder="选择日期" size="mini" style="width:150px;">
                            </el-date-picker>
                        </div>
                        <div>
                            <span class="nstration mr10">分公司:</span>
                            <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                                size="mini">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div>
                            <span class="nstration mr10">市场类型:</span>
                            <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                                size="mini">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div>
                            <span class="nstration mr10">业务类型:</span>
                            <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                                size="mini">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="right">
                        <img src="./resources/images/export-icon.png" alt="">
                        <span class="nstration bottom">收入清单</span>
                    </div>
                </div>
                <div ref='echartsRef' style='height:400px'></div>
	        </div>
      </script>
      <!-- 客户数 -->
      <script type="text/x-template" id="customer">
        <div>
          <div class='dia_header'>
              <div class="left">
                  <div>
                      <span class="nstration mr10">账期选择:</span>
                      <el-date-picker v-model="value1" type="date" placeholder="选择日期" size="mini" style="width:150px;">
                      </el-date-picker>
                  </div>
                  <div>
                      <span class="nstration mr10">分公司:</span>
                      <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                          size="mini">
                          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                          </el-option>
                      </el-select>
                  </div>
                  <div>
                      <span class="nstration mr10">市场类型:</span>
                      <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                          size="mini">
                          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                          </el-option>
                      </el-select>
                  </div>
                  <div>
                      <span class="nstration mr10">业务类型:</span>
                      <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                          size="mini">
                          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                          </el-option>
                      </el-select>
                  </div>
              </div>
              <div class="right">
                  <img src="./resources/images/export-icon.png" alt="">
                  <span class="nstration bottom">收入清单</span>
              </div>
          </div>
          <div ref='echartsRef' style='height:400px'></div>
      </div>
    </script>
      <!-- 业务 -->
      <script type="text/x-template" id="business">
        <div>
        <ul class="dia-tab">
            <li :class="{active:isActive === '1'}"><span>发展同比</span></li>
            <li><span>发展环比</span></li>
            <li><span>拆机同比</span></li>
            <li><span>拆机环比</span></li>
        </ul>
          <div class='dia_header'>
              <div class="left">
                  <div>
                      <span class="nstration mr10">账期选择:</span>
                      <el-date-picker v-model="value1" type="date" placeholder="选择日期" size="mini" style="width:150px;">
                      </el-date-picker>
                  </div>
                  <div>
                      <span class="nstration mr10">分公司:</span>
                      <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                          size="mini">
                          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                          </el-option>
                      </el-select>
                  </div>
                  <div>
                      <span class="nstration mr10">市场类型:</span>
                      <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                          size="mini">
                          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                          </el-option>
                      </el-select>
                  </div>
                  <div>
                      <span class="nstration mr10">业务类型:</span>
                      <el-select v-model="value" placeholder="请选择" style="margin-right:20px" style="width:150px;"
                          size="mini">
                          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                          </el-option>
                      </el-select>
                  </div>
              </div>
              <div class="right">
                  <img src="./resources/images/export-icon.png" alt="">
                  <span class="nstration bottom">收入清单</span>
              </div>
          </div>
          <div ref='echartsRef' style='height:400px'></div>
      </div>
    </script>
    <!-- 网管大厦二级 -->
    <script type="text/x-template" id="buildingSed">
        <div class="buildingSed">
            <div class="sedTop">
                <img src="./resources/images/sed_back.png" alt="" class="goBack" @click="goBack">
                <div class="sedRight">
                    <img src="./resources/images/export-icon.png" alt="">
                    <span class="nstration bottom">清单明细下载</span>
                </div>
            </div>
            <ul class="list">
                <li v-for="(item,index) in lists" :key="index">
                    <div>
                        <span>{{item.floor}}</span>
                    </div>
                    <div><img src="./resources/images/sed_top.png" alt=""></div>
                    <div v-if="item.list.length">3</div>
                </li>
            </ul>
        </div>
    </script>
    </div>
</body>
<script type="text/javascript" src="./resources/js/jquery-1.11.3.min.js"></script>
<!-- <script type="text/javascript" src="./resources/js/vue.min.js"></script> -->
<script src="./resources/js/vue.js"></script>
<script type="text/javascript" src="./resources/js/elementUI.js"></script>
<script src="./resources/js/echarts-4.x.js"></script>
<script src="./resources/js/allChild.js"></script>
<script>
    var ajaxBaseUrl = "http://10.26.14.119:8087/microservice-ui";
    var pageVm = new Vue({
        el: '#pageContainer',
        data() {
            return {
                date: "",
                isDialogShow: false,
                dialogTitle: '',
                dialogCompent: "",
                thirdParams: "", //二级传至三级页面参数
            }
        },
        components:{
            'building':building,
            "monthIncome":monthIncome,
            "customer":customer,
            "business":business,
            "buildingSed":buildingSed
        },
        methods: {
            //子组件传递过来的参数
            headCall(param, thirdParams) {
                this.isDialogShow = true;
                if (!param.dialogTitle) {
                    this.isDialogShow = false;
                } else {
                    this.dialogCompent = param.dialogCompent;
                    this.dialogTitle = param.dialogTitle;
                }
                if (thirdParams) {
                    this.thirdParams = thirdParams;
                }
            },
            sendMsg: function (title,compent) {
                const param = {
                    dialogCompent: compent,
                    dialogTitle: title
                };
                this.headCall(param); //第一个参数是父组件中v-on绑定的自定义回调方法，第二个参数为传递的参数
            },
            drawGaugeChart: function(){
              let gaugeChart = echarts.init(document.getElementById('gaugeChart'));
              let option =  {
                series : [
                    {
                        name:'速度',
                        type:'gauge',
                        min:0,
                        max:100,
                        startAngle:180,
                        endAngle:0,
                        splitNumber:10,
                        radius: "130%",
                        center : ['60%', '80%'],    // 默认全局居中
                        axisLine: {            // 坐标轴线
                          lineStyle: {       // 属性lineStyle控制线条样式
                              color: [[0.2, '#10CDBD'],[0.3,'#04CAE5'],[0.4,'#20B6E9'],[0.5,'#28A1DC'],[0.6,'#448DF0'],[0.7, '#5487F4'],[0.8, '#6373E9'],[0.9, '#5762CB'],[1, '#525BBF']],
                              width: 5,
                          }
                        },
                        axisLabel: {            // 坐标轴小标记
                          show:false
                        },
                        axisTick: {            // 坐标轴小标记
                          length :8,        // 属性length控制线长
                          lineStyle: {       // 属性lineStyle控制线条样式
                              color: 'auto',
                          }
                        },
                        splitLine: {           // 分隔线
                          show:false
                        },
                        pointer: {           // 分隔线
                          width:3,
                        },
                        detail:{
                          show:false
                        },
                        data:[Math.floor(Math.random()*100)]
                    }
                ]
              };
              gaugeChart.clear();
              gaugeChart.setOption(option);
              window.addEventListener("resize", () => {
                gaugeChart.resize();
              });
            }
        },
        created() {
          
        },
        mounted() {
          let _this = this; // 声明一个变量指向Vue实例this，保证作用域一致
          this.timer = setInterval(() => {
            _this.date = new Date().toLocaleTimeString(); // 修改数据date
          }, 1000)
          this.drawGaugeChart();
        },
        beforeDestroy() {
            if (this.timer) {
                clearInterval(this.timer); // 在Vue实例销毁前，清除我们的定时器
            }
        }
    });
</script>

</html>