*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[v-cloak]{display: none;}
@light-blue:#2AD6E0;
@date-blue:#2C7DE0;
@blue:#0FBBF3;
@green:#6BDEB6;
.clearfix(){
  /*清浮动*/
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
html,body,#pageContainer{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  color: #fff;
}
li{
  list-style: none;
}
.flex{
  display: flex;
  .flex-item{
    flex:1;
  }
}
.flexCol{
  display: flex;
  flex-direction: column;
}
.flexcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageContainer{
  background: url("../images/body-bg.png")no-repeat center / 100% 100%;
  header{
    height: 10%;
    display: flex;
    >div{
      flex: 1 1 30%;
      height: 100%;
      &:first-child{
        flex: 1 1 31%;
        margin-left: 1%;
        justify-content: center;
        color: @light-blue;
      }
      &:nth-child(2){
        flex: 1 1 36%;
        background: url("../images/title-bg.png")no-repeat center / 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-bottom: 10px;
      }
      &:nth-child(3){
        flex: 1 1 31%;
        margin-right: 1%;
        justify-content: center;
        color: @light-blue;
        .flex-item{
          text-align: center;
          justify-content: center;
          align-items: center;
        }
        .dateStyle{
          letter-spacing: 2px;
        }
        .lineText{
          font-size: 12px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .flex{
        align-items: center;
      }
      .icon{
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        &.phone{
          background: url("../images/phone-icon.png")no-repeat center / contain;
        }
        &.msg{
          background: url("../images/msg-icon.png")no-repeat center / contain;
        }
        &.person{
          background: url("../images/person-icon.png")no-repeat center / 50%;
        }
        &.end{
          background: url("../images/end-icon.png")no-repeat center / 50%;
        }
        &.export{
          background: url("../images/export-icon.png")no-repeat center / 70%;
        }
        &.download{
          background: url("../images/download-icon.png")no-repeat center / 70%;
        }
      }
    }
  }
  section{
    height: 90%;
    display: flex;
    >div{
      // flex: 1 1 32%;
      height: 100%;
      &:first-child{
        flex: 1 1 31%;
        margin-left: 1%;
      }
      &:nth-child(2){
        flex: 1 1 34%;
        margin: 0 1%;
      }
      &:nth-child(3){
        flex: 1 1 31%;
        margin-right: 1%;
      }
      &.map{
        margin: 0 0.5%;
        overflow: hidden;
        background: url("../images/map-bg.png")no-repeat center / 100% 100%;
      }
      .lf-top{
        height: 10%;
        overflow: hidden;
        background: url("../images/lf-top-bg.png")no-repeat center / 100% 100%;
      }
      .lf-mid{
        background: url("../images/lf-mid-bg.png")no-repeat center / 100% 100%;
      }
      .rt-top{
        background: url("../images/rt-top-bg.png")no-repeat center / 100% 100%;
      }
      .lf-bot,.rt-bot{
        background: url("../images/bot-bg.png")no-repeat center / 100% 100%;
      }
      .lf-mid{
        margin-top: 2%;
        height: 39%;
        overflow: hidden;
      }
      .lf-bot,.rt-bot{
        margin-top: 2%;
        height: 48%;
        overflow: hidden;
      }
      .rt-top{
        height: 50%;
        overflow: hidden;
      }
      .titleDiv{
        height: 30px;
        line-height: 30px;
        margin: 9px 0 1px 0;
        padding:0 15px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        span:last-child{
          color: @date-blue;
        }
        span:first-child{
          color: @light-blue;
          &:before{
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 5px;
            background: url("../images/title-icon.png")no-repeat center / 100% 100%;
          }
        }

      }
      .titleCont{
        height: ~"calc(100% - 40px)";
        display: flex;
        flex-direction: column;
        >div{
          flex: 1;
          &.topBorder{
            border-top: 2px solid #174C8C;
          }
          .flexbet{
            flex: 1;
            display: flex;
            justify-content: space-between;
            >div{
              display: flex;
              align-items: center;
            }
          }
          .block-title{
            line-height: 30px;
            padding: 0 20px;
            &.blue{
              color: @blue;
              >div::before{
                background: @blue;
              }
            }
            &.green{
              color: @green;
              >div::before{
                background: @green;
              }
            }
            >div{
              border-bottom: 1px dashed @date-blue;
              padding: 0 10px 0 20px;
              position: relative;
              &::before{
                content: "";
                position: absolute;
                top: 13px;
                left: 8px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
              }
            }
            span{
              font-size: 22px;
            }
          }
          .block-cont{
            height: ~"calc(100% - 30px)";
            display: flex;
            flex-direction: column;
            &.flex{
              flex-direction: row;
              .numberBlock{
                span{
                  font-size: 22px;
                }
                color: @blue;
                .flexcc;
              }
            }
            >div{
              flex:1;
              justify-content: space-around;
              .flexbet{
                font-size: 13px;
                padding: 0 30px 0 40px;
              }
            }
            &.blue{
              background: url("../images/type-bg-blue.png") 50% 80% ~"/" 90% auto no-repeat;
              .flexbet>div:first-child{
                color: @blue;
              }
            }
            &.green{
              background: url("../images/type-bg-green.png") 50% 80% ~"/" 90% auto no-repeat;
              .flexbet>div:first-child{
                color: @green;
              }
            }
          }
          .cont-title{
            color: @date-blue;
            padding: 8px 20px;
            height: 30px;
          }
          .total{
            height: ~"calc(100% - 30px)";
            .flexcc;
            .number{
              width: 300px;
              height: 100%;
              background: url("../images/number-bg.png")no-repeat center / contain;
              position: relative;
              display: flex;
              align-items: center;
              span{
                font-size: 40px;
                letter-spacing: 25px;
                margin-left: 32px;
              }
              .unit{
                position: absolute;
                right: 20px;
                bottom: 20px;
              }
            }
          }
          .pie-tab{
            width: 280px;
            height: 22px;
            display: flex;
            justify-content: space-between;
            margin: 5px 15px 5px auto;
            >li{
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: skew(-30deg);
              border: 1px solid @blue;
              cursor: pointer;
              padding: 2px;
              font-size: 13px;
              margin: 0 3px;
              color: @blue;
              &.active{
                color: #D9DF56;
                background:linear-gradient(to right, #0B48B2 , #052F6C);
                border-color:transparent;
              }
              >span{
                transform: skew(30deg);
              }
            }
          }
        }
      }
      .lf-top-cont{
        height: 100%;
        justify-content: center;
        align-items: center;
        .flex-item{
          .flexcc;
          .flexCol{
            margin-left: 10px;
            p{
              &:first-child{
                color: @light-blue;
                font-weight: bold;
                font-size: 14px;
              }
              margin: 0;
              text-align: center;
              font-size: 13px;
            }
          }
        }
        .icon{
          display: inline-block;
          width: 30px;
          height: 30px;
          vertical-align: middle;
          &.bar{
            background: url("../images/bar-icon.png")no-repeat center / 90%;
          }
        }
      }
    }
  }

}

/* 弹窗开始 */
.el-dialog{
  background: url(../images/dialog_bg.png) center center no-repeat / 100% 100%;
  padding: 50px 40px 20px;
  margin-top: 10vh !important;
}
.el-dialog__headerbtn {
  top: 14px;
  right: -43px;
}
.el-icon-close:before {
  content: "";
  background: url(../images/dialog_close.png) center center no-repeat / 100% 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.el-dialog__title:before{
  content: "";
  background: url(../images/dialog_tit.png) center center no-repeat / 100% 100%;
  display: inline-block;
  width: 41px;
  height: 21px;
  margin-right: 20px;
}
.el-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.el-dialog__body {
  padding: 0px 20px;
}
.el-picker-panel.el-date-picker.el-popper {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-color: #5fb6f9;
  .el-date-table th {
    color: #fff;
  }
  .el-picker-panel__content table td .cell,
  .el-date-picker__header > button,
  .el-date-picker__header > span {
    color: #fff;
    &:hover {
      color: #409eff;
    }
  }
  .popper__arrow {
    border-bottom-color: #409eff;
    border-top-color: #409eff;
    &::after {
      border-bottom-color: #000;
      border-top-color: #000;
    }
  }
}
.el-select-dropdown.el-popper,
.el-select-dropdown.is-multiple {
  background: rgba(0, 0, 0, 0.8);
  border-color: #5fb6f9;
  li.el-select-dropdown__item {
    color: #fff;
    &.selected {
      color: #409eff;
      background: transparent;
    }
    &.hover,
    &:hover,
    &.selected.hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .popper__arrow {
    border-bottom-color: #409eff !important;
    border-top-color: #409eff !important;
    &::after {
      border-bottom-color: #000 !important;
      border-top-color: #000 !important;
    }
  }
}
input.el-input__inner {
  background: transparent !important;
  border-color: #226888!important;
  font-size: 16px;
  color: #ffffff;
}
.dia_header{
  border-bottom: 1px solid #233c67;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
  .left{
    display: flex;
    justify-content: space-between;
    >div{
      margin-right: 40px;
    }
  }
  .right{
    display: flex;
    align-items: center;
    >img{
      width: 25px;
      margin-right: 9px;
    }
  }
}
.nstration{
  color: #2c84c4;
  &.bottom{
    text-decoration: underline;
    cursor: pointer;
  }
}
.sed_download{
  color: #34a5b1;
  &.bottom{
    text-decoration: underline;
    cursor: pointer;
  }
}
.mr10{
  margin-right: 10px;
}
.dia-tab{
  width: 620px;
  margin: 0px auto 22px;
  display: flex;
  justify-content: space-between;
  >li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-30deg);
    border: 1px solid #2E7e98;
    cursor: pointer;
    padding: 10px 0;
    color: #2c84c4;
    &.active{
      color: #ffffff;
      background:linear-gradient(to bottom, #2ddafa , #2880ef);
    }
    >span{
      transform: skew(30deg);
    }
  }
}

// 网管大厦
.wg-right-box{
  display: flex;
  justify-content: flex-end;
  .wg-right{
    display: flex;
    justify-content: space-around;
    >div{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 40px;
      >img{
        width: 25px;
        margin-right: 9px;
      }
    }
  }
}
.header_bg{
  height: 43px;
  background: url(../images/dialog_header_bg.png) left center / 100% 100%;
  margin-top: 10px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .flex_col_2{
    flex: 2;
  }
  .flex_col_1{
    flex: 1;
  }
  .flex_col_3{
    flex: 3;
  }
  .line{
    height: 60%;
    width: 1px;
    background-color: #3c7eaf;
  }
}
.baseInfo{
  color: #ffffff;
  font-size: 16px;
  margin-left: 9px;
  margin-right: 13px;
}
.whiteInfo{
  color: #ffffff;
  font-size: 12px;
  margin-left: 10px;
}
.blueInfo{
  color: #28b3ee;
}
.spot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #28b3ee;
  margin-right: 6px;
  display: inline-block;
}
.ml15{
  margin-left: 15px;
}
.mainBox{
  display: flex;
  flex-direction: row;
  height: 446px;
  margin-bottom: 16px;
 .col_1{
   flex: 1;
 }
 .col_2{
  flex: 1.5;
  display: flex;
  justify-content: center;
 }
 .left{
   background: url(../images/dialog_lf_line.png) left center no-repeat;
 }
 .col_top{
   height: 200px;
   position: relative;
 }
 .col_bottom{
   height: 246px;
   position: relative;
 }
 .tit{
   background: url(../images/dialog_tit_bg.png) left center no-repeat;
   color: #28b3ee;
   width: 176px;
   height: 54px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   position: absolute;
   top: -28px;
   left: 49px;
 }
 .size20{
   font-size: 20px;
 }
 .out_div{
  height: 168px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  >div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
 }
 .bot_content{
   position: absolute;
   top: 28px;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10px;
   >div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
 }
 .lineChart{
   height: 50px;
   margin: 10px 0px;
 }
 .violet{
   color:#a95bcc;
 }
 .myTab{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 8px;
   >li{
     flex: 1;
     display: flex;
     justify-content: center;
     cursor: pointer;
     color: #1e587d;
     font-size: 12px;
     line-height: 24px;
     &.active{
      color: #28b3ee;
      border-bottom:1px transparent solid;
      border-image:linear-gradient(to right,#2d5f75,#23b7cb) 1 10;
     }
   }
 }
 .col_1_top,.col_1_top_2{
   height: 222px;
   background: url(../images/dialog_top_line.png) left center no-repeat;
   padding-left: 62px;
   margin-top: 34px;
   >div{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 }
 .col_1_top_2{
   height: 95px;
   background: url(../images/dialog_bot_line.png) left center no-repeat;
 }
 .rt_content{
  height: 100%;
  width: 80%;
  background: url(../images/dialog_rt_bg.png) left center no-repeat / 100% 100%;
  padding: 16px;
 }
 .imgBox{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 294px;
   >div{
     width: 60%;
     height: 92%;
     background-color: #3b5e88;
   }
 }
 .rt_line{
   height: 3px;
    background: url(../images/dialog_rt_line.png) left center no-repeat / 100% 100%;
 }
 .rt_bottom{
   margin-top: 10px;
    >li{
      height: 31px;
      background: url(../images/dialog_rt_li_bg.png) left center no-repeat / 100% 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      margin-bottom: 8px;
    }
 }
}

.buildingSed{
  margin-left: 60px;
  height: 620px;
  margin-bottom: 40px;
  overflow: auto;
  .sedTop{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 20px;
  }
  .goBack{
    cursor: pointer;
  }
  .sedRight{
    display: flex;
    align-items: center;
    >img{
      width: 25px;
      margin-right: 9px;
    }
  }
  .list{
    margin-left: 70px;
    >li{
      display: flex;
      flex-direction: row;
      margin-bottom: -12px;
    }
    .fir_div{
      display: flex;
      justify-content: space-between;
      width: 130px;
      padding: 20px 14px;
      &.active{
        border-bottom: 1px dashed #67384c;
      }
      >div{
        display: flex;
        align-items: center;
      }
    }
    .sed_up{
      color: #34a5b1;
    }
    .sed_down{
      color: #2c84c4;
    }
    .fff{
      color: #ffffff;
      padding: 0 10px;
      &.active{
        color: #34a5b1;
        border-bottom: 1px transparent solid;
        border-image: linear-gradient(to right, #2d5f75, #23b7cb) 1 10;
      }
    }
    .ml10{
      margin-left: 10px;
    }
    .tipDiv{
      display: flex;
      align-items: center;
      margin-left: 10px;
      position: relative;
    }
    .infoImg{
      position: absolute;
      left: 29px;
      top: 12px;
    }
    .infoImg2{
      position: absolute;
      left: 29px;
      top: 25px;
    }
    .sed_img{
      height: 65px;
      width: 221px;
    }
    .info_tit{
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info_bg1{
      background: url(../images/sed_info_bg1.png) left center no-repeat / 100% 100%;
      width: 268px;
      height: 129px;
      position: absolute;
      left: 84px;
      z-index: 1;
      &:hover{
        z-index:2;
      }
    }
    .info_bg2{
      background: url(../images/sed_info_bg2.png) left center no-repeat / 100% 100%;
      width: 268px;
      height: 71px;
      position: absolute;
      left: 84px;
      z-index: 1;
      &:hover{
        z-index:2;
      }
    }
    .info_list{
      >li{
        float: left;
        width: 50%;
        >div{
          display: flex;
          flex: 1;
          justify-content: space-between;
          align-items: center;
          padding: 5px;
          font-size: 12px;
        }
      }
    }

  }
}