* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
html,
body,
#pageContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  color: #fff;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex .flex-item {
  flex: 1;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageContainer {
  background: url("../images/body-bg.png") no-repeat center / 100% 100%;
}
#pageContainer header {
  height: 10%;
  display: flex;
}
#pageContainer header > div {
  flex: 1 1 30%;
  height: 100%;
}
#pageContainer header > div:first-child {
  flex: 1 1 31%;
  margin-left: 1%;
  justify-content: center;
  color: #2AD6E0;
}
#pageContainer header > div:nth-child(2) {
  flex: 1 1 36%;
  background: url("../images/title-bg.png") no-repeat center / 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-bottom: 10px;
}
#pageContainer header > div:nth-child(3) {
  flex: 1 1 31%;
  margin-right: 1%;
  justify-content: center;
  color: #2AD6E0;
}
#pageContainer header > div:nth-child(3) .flex-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#pageContainer header > div:nth-child(3) .dateStyle {
  letter-spacing: 2px;
}
#pageContainer header > div:nth-child(3) .lineText {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
#pageContainer header > div .flex {
  align-items: center;
}
#pageContainer header > div .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#pageContainer header > div .icon.phone {
  background: url("../images/phone-icon.png") no-repeat center / contain;
}
#pageContainer header > div .icon.msg {
  background: url("../images/msg-icon.png") no-repeat center / contain;
}
#pageContainer header > div .icon.person {
  background: url("../images/person-icon.png") no-repeat center / 50%;
}
#pageContainer header > div .icon.end {
  background: url("../images/end-icon.png") no-repeat center / 50%;
}
#pageContainer header > div .icon.export {
  background: url("../images/export-icon.png") no-repeat center / 70%;
}
#pageContainer header > div .icon.download {
  background: url("../images/download-icon.png") no-repeat center / 70%;
}
#pageContainer section {
  height: 90%;
  display: flex;
}
#pageContainer section > div {
  height: 100%;
}
#pageContainer section > div:first-child {
  flex: 1 1 31%;
  margin-left: 1%;
}
#pageContainer section > div:nth-child(2) {
  flex: 1 1 34%;
  margin: 0 1%;
}
#pageContainer section > div:nth-child(3) {
  flex: 1 1 31%;
  margin-right: 1%;
}
#pageContainer section > div.map {
  margin: 0 0.5%;
  overflow: hidden;
  background: url("../images/map-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-top {
  height: 10%;
  overflow: hidden;
  background: url("../images/lf-top-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-mid {
  background: url("../images/lf-mid-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .rt-top {
  background: url("../images/rt-top-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-bot,
#pageContainer section > div .rt-bot {
  background: url("../images/bot-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-mid {
  margin-top: 2%;
  height: 39%;
  overflow: hidden;
}
#pageContainer section > div .lf-bot,
#pageContainer section > div .rt-bot {
  margin-top: 2%;
  height: 48%;
  overflow: hidden;
}
#pageContainer section > div .rt-top {
  height: 50%;
  overflow: hidden;
}
#pageContainer section > div .titleDiv {
  height: 30px;
  line-height: 30px;
  margin: 9px 0 1px 0;
  padding: 0 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#pageContainer section > div .titleDiv span:last-child {
  color: #2C7DE0;
}
#pageContainer section > div .titleDiv span:first-child {
  color: #2AD6E0;
}
#pageContainer section > div .titleDiv span:first-child:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("../images/title-icon.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .titleCont {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}
#pageContainer section > div .titleCont > div {
  flex: 1;
}
#pageContainer section > div .titleCont > div.topBorder {
  border-top: 2px solid #174C8C;
}
#pageContainer section > div .titleCont > div .flexbet {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#pageContainer section > div .titleCont > div .flexbet > div {
  display: flex;
  align-items: center;
}
#pageContainer section > div .titleCont > div .block-title {
  line-height: 30px;
  padding: 0 20px;
}
#pageContainer section > div .titleCont > div .block-title.blue {
  color: #0FBBF3;
}
#pageContainer section > div .titleCont > div .block-title.blue > div::before {
  background: #0FBBF3;
}
#pageContainer section > div .titleCont > div .block-title.green {
  color: #6BDEB6;
}
#pageContainer section > div .titleCont > div .block-title.green > div::before {
  background: #6BDEB6;
}
#pageContainer section > div .titleCont > div .block-title > div {
  border-bottom: 1px dashed #2C7DE0;
  padding: 0 10px 0 20px;
  position: relative;
}
#pageContainer section > div .titleCont > div .block-title > div::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
#pageContainer section > div .titleCont > div .block-title span {
  font-size: 22px;
}
#pageContainer section > div .titleCont > div .block-cont {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}
#pageContainer section > div .titleCont > div .block-cont.flex {
  flex-direction: row;
}
#pageContainer section > div .titleCont > div .block-cont.flex .numberBlock {
  color: #0FBBF3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageContainer section > div .titleCont > div .block-cont.flex .numberBlock span {
  font-size: 22px;
}
#pageContainer section > div .titleCont > div .block-cont > div {
  flex: 1;
  justify-content: space-around;
}
#pageContainer section > div .titleCont > div .block-cont > div .flexbet {
  font-size: 13px;
  padding: 0 30px 0 40px;
}
#pageContainer section > div .titleCont > div .block-cont.blue {
  background: url("../images/type-bg-blue.png") 50% 80% / 90% auto no-repeat;
}
#pageContainer section > div .titleCont > div .block-cont.blue .flexbet > div:first-child {
  color: #0FBBF3;
}
#pageContainer section > div .titleCont > div .block-cont.green {
  background: url("../images/type-bg-green.png") 50% 80% / 90% auto no-repeat;
}
#pageContainer section > div .titleCont > div .block-cont.green .flexbet > div:first-child {
  color: #6BDEB6;
}
#pageContainer section > div .titleCont > div .cont-title {
  color: #2C7DE0;
  padding: 8px 20px;
  height: 30px;
}
#pageContainer section > div .titleCont > div .total {
  height: calc(100% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageContainer section > div .titleCont > div .total .number {
  width: 300px;
  height: 100%;
  background: url("../images/number-bg.png") no-repeat center / contain;
  position: relative;
  display: flex;
  align-items: center;
}
#pageContainer section > div .titleCont > div .total .number span {
  font-size: 40px;
  letter-spacing: 25px;
  margin-left: 32px;
}
#pageContainer section > div .titleCont > div .total .number .unit {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#pageContainer section > div .titleCont > div .pie-tab {
  width: 280px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 5px auto;
}
#pageContainer section > div .titleCont > div .pie-tab > li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-30deg);
  border: 1px solid #0FBBF3;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  margin: 0 3px;
  color: #0FBBF3;
}
#pageContainer section > div .titleCont > div .pie-tab > li.active {
  color: #D9DF56;
  background: linear-gradient(to right, #0B48B2, #052F6C);
  border-color: transparent;
}
#pageContainer section > div .titleCont > div .pie-tab > li > span {
  transform: skew(30deg);
}
#pageContainer section > div .lf-top-cont {
  height: 100%;
  justify-content: center;
  align-items: center;
}
#pageContainer section > div .lf-top-cont .flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageContainer section > div .lf-top-cont .flex-item .flexCol {
  margin-left: 10px;
}
#pageContainer section > div .lf-top-cont .flex-item .flexCol p {
  margin: 0;
  text-align: center;
  font-size: 13px;
}
#pageContainer section > div .lf-top-cont .flex-item .flexCol p:first-child {
  color: #2AD6E0;
  font-weight: bold;
  font-size: 14px;
}
#pageContainer section > div .lf-top-cont .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#pageContainer section > div .lf-top-cont .icon.bar {
  background: url("../images/bar-icon.png") no-repeat center / 90%;
}
/* 弹窗开始 */
.el-dialog {
  background: url(../images/dialog_bg.png) center center no-repeat / 100% 100%;
  padding: 50px 40px 20px;
  margin-top: 10vh !important;
}
.el-dialog__headerbtn {
  top: 14px;
  right: -43px;
}
.el-icon-close:before {
  content: "";
  background: url(../images/dialog_close.png) center center no-repeat / 100% 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.el-dialog__title:before {
  content: "";
  background: url(../images/dialog_tit.png) center center no-repeat / 100% 100%;
  display: inline-block;
  width: 41px;
  height: 21px;
  margin-right: 20px;
}
.el-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.el-dialog__body {
  padding: 0px 20px;
}
.el-picker-panel.el-date-picker.el-popper {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-color: #5fb6f9;
}
.el-picker-panel.el-date-picker.el-popper .el-date-table th {
  color: #fff;
}
.el-picker-panel.el-date-picker.el-popper .el-picker-panel__content table td .cell,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > button,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > span {
  color: #fff;
}
.el-picker-panel.el-date-picker.el-popper .el-picker-panel__content table td .cell:hover,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > button:hover,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > span:hover {
  color: #409eff;
}
.el-picker-panel.el-date-picker.el-popper .popper__arrow {
  border-bottom-color: #409eff;
  border-top-color: #409eff;
}
.el-picker-panel.el-date-picker.el-popper .popper__arrow::after {
  border-bottom-color: #000;
  border-top-color: #000;
}
.el-select-dropdown.el-popper,
.el-select-dropdown.is-multiple {
  background: rgba(0, 0, 0, 0.8);
  border-color: #5fb6f9;
}
.el-select-dropdown.el-popper li.el-select-dropdown__item,
.el-select-dropdown.is-multiple li.el-select-dropdown__item {
  color: #fff;
}
.el-select-dropdown.el-popper li.el-select-dropdown__item.selected,
.el-select-dropdown.is-multiple li.el-select-dropdown__item.selected {
  color: #409eff;
  background: transparent;
}
.el-select-dropdown.el-popper li.el-select-dropdown__item.hover,
.el-select-dropdown.is-multiple li.el-select-dropdown__item.hover,
.el-select-dropdown.el-popper li.el-select-dropdown__item:hover,
.el-select-dropdown.is-multiple li.el-select-dropdown__item:hover,
.el-select-dropdown.el-popper li.el-select-dropdown__item.selected.hover,
.el-select-dropdown.is-multiple li.el-select-dropdown__item.selected.hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.el-select-dropdown.el-popper .popper__arrow,
.el-select-dropdown.is-multiple .popper__arrow {
  border-bottom-color: #409eff !important;
  border-top-color: #409eff !important;
}
.el-select-dropdown.el-popper .popper__arrow::after,
.el-select-dropdown.is-multiple .popper__arrow::after {
  border-bottom-color: #000 !important;
  border-top-color: #000 !important;
}
input.el-input__inner {
  background: transparent !important;
  border-color: #226888!important;
  font-size: 16px;
  color: #ffffff;
}
.dia_header {
  border-bottom: 1px solid #233c67;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
}
.dia_header .left {
  display: flex;
  justify-content: space-between;
}
.dia_header .left > div {
  margin-right: 40px;
}
.dia_header .right {
  display: flex;
  align-items: center;
}
.dia_header .right > img {
  width: 25px;
  margin-right: 9px;
}
.nstration {
  color: #2c84c4;
}
.nstration.bottom {
  text-decoration: underline;
  cursor: pointer;
}
.sed_download {
  color: #34a5b1;
}
.sed_download.bottom {
  text-decoration: underline;
  cursor: pointer;
}
.mr10 {
  margin-right: 10px;
}
.dia-tab {
  width: 620px;
  margin: 0px auto 22px;
  display: flex;
  justify-content: space-between;
}
.dia-tab > li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-30deg);
  border: 1px solid #2E7e98;
  cursor: pointer;
  padding: 10px 0;
  color: #2c84c4;
}
.dia-tab > li.active {
  color: #ffffff;
  background: linear-gradient(to bottom, #2ddafa, #2880ef);
}
.dia-tab > li > span {
  transform: skew(30deg);
}
.wg-right-box {
  display: flex;
  justify-content: flex-end;
}
.wg-right-box .wg-right {
  display: flex;
  justify-content: space-around;
}
.wg-right-box .wg-right > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.wg-right-box .wg-right > div > img {
  width: 25px;
  margin-right: 9px;
}
.header_bg {
  height: 43px;
  background: url(../images/dialog_header_bg.png) left center / 100% 100%;
  margin-top: 10px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_bg > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header_bg .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_bg .center2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.header_bg .flex_col_2 {
  flex: 2;
}
.header_bg .flex_col_1 {
  flex: 1;
}
.header_bg .flex_col_3 {
  flex: 3;
}
.header_bg .line {
  height: 60%;
  width: 1px;
  background-color: #3c7eaf;
}
.baseInfo {
  color: #ffffff;
  font-size: 16px;
  margin-left: 9px;
  margin-right: 13px;
}
.whiteInfo {
  color: #ffffff;
  font-size: 12px;
  margin-left: 10px;
}
.blueInfo {
  color: #28b3ee;
}
.spot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #28b3ee;
  margin-right: 6px;
  display: inline-block;
}
.ml15 {
  margin-left: 15px;
}
.mainBox {
  display: flex;
  flex-direction: row;
  height: 446px;
  margin-bottom: 16px;
}
.mainBox .col_1 {
  flex: 1;
}
.mainBox .col_2 {
  flex: 1.5;
  display: flex;
  justify-content: center;
}
.mainBox .left {
  background: url(../images/dialog_lf_line.png) left center no-repeat;
}
.mainBox .col_top {
  height: 200px;
  position: relative;
}
.mainBox .col_bottom {
  height: 246px;
  position: relative;
}
.mainBox .tit {
  background: url(../images/dialog_tit_bg.png) left center no-repeat;
  color: #28b3ee;
  width: 176px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
  top: -28px;
  left: 49px;
}
.mainBox .size20 {
  font-size: 20px;
}
.mainBox .out_div {
  height: 168px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.mainBox .out_div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.mainBox .bot_content {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.mainBox .bot_content > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.mainBox .lineChart {
  height: 50px;
  margin: 10px 0px;
}
.mainBox .violet {
  color: #a95bcc;
}
.mainBox .myTab {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 8px;
}
.mainBox .myTab > li {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #1e587d;
  font-size: 12px;
  line-height: 24px;
}
.mainBox .myTab > li.active {
  color: #28b3ee;
  border-bottom: 1px transparent solid;
  border-image: linear-gradient(to right, #2d5f75, #23b7cb) 1 10;
}
.mainBox .col_1_top,
.mainBox .col_1_top_2 {
  height: 222px;
  background: url(../images/dialog_top_line.png) left center no-repeat;
  padding-left: 62px;
  margin-top: 34px;
}
.mainBox .col_1_top > div,
.mainBox .col_1_top_2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBox .col_1_top_2 {
  height: 95px;
  background: url(../images/dialog_bot_line.png) left center no-repeat;
}
.mainBox .rt_content {
  height: 100%;
  width: 80%;
  background: url(../images/dialog_rt_bg.png) left center no-repeat / 100% 100%;
  padding: 16px;
}
.mainBox .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 294px;
}
.mainBox .imgBox > div {
  width: 60%;
  height: 92%;
  background-color: #3b5e88;
}
.mainBox .rt_line {
  height: 3px;
  background: url(../images/dialog_rt_line.png) left center no-repeat / 100% 100%;
}
.mainBox .rt_bottom {
  margin-top: 10px;
}
.mainBox .rt_bottom > li {
  height: 31px;
  background: url(../images/dialog_rt_li_bg.png) left center no-repeat / 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 8px;
}
.buildingSed {
  margin-left: 60px;
  height: 620px;
  margin-bottom: 40px;
  overflow: auto;
}
.buildingSed .sedTop {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 20px;
}
.buildingSed .goBack {
  cursor: pointer;
}
.buildingSed .sedRight {
  display: flex;
  align-items: center;
}
.buildingSed .sedRight > img {
  width: 25px;
  margin-right: 9px;
}
.buildingSed .list {
  margin-left: 70px;
}
.buildingSed .list > li {
  display: flex;
  flex-direction: row;
  margin-bottom: -12px;
}
.buildingSed .list .fir_div {
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding: 20px 14px;
}
.buildingSed .list .fir_div.active {
  border-bottom: 1px dashed #67384c;
}
.buildingSed .list .fir_div > div {
  display: flex;
  align-items: center;
}
.buildingSed .list .sed_up {
  color: #34a5b1;
}
.buildingSed .list .sed_down {
  color: #2c84c4;
}
.buildingSed .list .fff {
  color: #ffffff;
  padding: 0 10px;
}
.buildingSed .list .fff.active {
  color: #34a5b1;
  border-bottom: 1px transparent solid;
  border-image: linear-gradient(to right, #2d5f75, #23b7cb) 1 10;
}
.buildingSed .list .ml10 {
  margin-left: 10px;
}
.buildingSed .list .tipDiv {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
}
.buildingSed .list .infoImg {
  position: absolute;
  left: 29px;
  top: 12px;
}
.buildingSed .list .infoImg2 {
  position: absolute;
  left: 29px;
  top: 25px;
}
.buildingSed .list .sed_img {
  height: 65px;
  width: 221px;
}
.buildingSed .list .info_tit {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buildingSed .list .info_bg1 {
  background: url(../images/sed_info_bg1.png) left center no-repeat / 100% 100%;
  width: 268px;
  height: 129px;
  position: absolute;
  left: 84px;
  z-index: 1;
}
.buildingSed .list .info_bg1:hover {
  z-index: 2;
}
.buildingSed .list .info_bg2 {
  background: url(../images/sed_info_bg2.png) left center no-repeat / 100% 100%;
  width: 268px;
  height: 71px;
  position: absolute;
  left: 84px;
  z-index: 1;
}
.buildingSed .list .info_bg2:hover {
  z-index: 2;
}
.buildingSed .list .info_list > li {
  float: left;
  width: 50%;
}
.buildingSed .list .info_list > li > div {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 12px;
}
