* {
  box-sizing: border-box;
}
html,
body,
#pageContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  color: #fff;
}
.flex {
  display: flex;
}
.flex .flex-item {
  flex: 1;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageContainer {
  background: url("../images/body-bg.png") no-repeat center / 100% 100%;
}
#pageContainer header {
  height: 10%;
  display: flex;
}
#pageContainer header > div {
  flex: 1 1 30%;
  height: 100%;
}
#pageContainer header > div:first-child {
  flex: 1 1 31%;
  margin-left: 1%;
  justify-content: center;
  color: #6AFFFF;
}
#pageContainer header > div:nth-child(2) {
  flex: 1 1 36%;
  background: url("../images/title-bg.png") no-repeat center / 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-bottom: 10px;
}
#pageContainer header > div:nth-child(3) {
  flex: 1 1 31%;
  margin-right: 1%;
  justify-content: center;
  color: #6AFFFF;
}
#pageContainer header > div:nth-child(3) .flex-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#pageContainer header > div:nth-child(3) .dateStyle {
  letter-spacing: 2px;
}
#pageContainer header > div:nth-child(3) .lineText {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
#pageContainer header > div .flex {
  align-items: center;
}
#pageContainer header > div .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#pageContainer header > div .icon.phone {
  background: url("../images/phone-icon.png") no-repeat center / contain;
}
#pageContainer header > div .icon.msg {
  background: url("../images/msg-icon.png") no-repeat center / contain;
}
#pageContainer header > div .icon.person {
  background: url("../images/person-icon.png") no-repeat center / 50%;
}
#pageContainer header > div .icon.end {
  background: url("../images/end-icon.png") no-repeat center / 50%;
}
#pageContainer header > div .icon.export {
  background: url("../images/export-icon.png") no-repeat center / 70%;
}
#pageContainer section {
  height: 90%;
  display: flex;
}
#pageContainer section > div {
  flex: 1 1 32%;
  height: 100%;
}
#pageContainer section > div:first-child {
  margin-left: 1%;
}
#pageContainer section > div:nth-child(2) {
  margin: 0 1%;
}
#pageContainer section > div:nth-child(3) {
  margin-right: 1%;
}
#pageContainer section > div.map {
  margin: 0 0.5%;
  overflow: hidden;
  background: url("../images/map-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-top {
  height: 10%;
  overflow: hidden;
  background: url("../images/lf-top-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-mid {
  background: url("../images/lf-mid-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .rt-top {
  background: url("../images/rt-top-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-bot,
#pageContainer section > div .rt-bot {
  background: url("../images/bot-bg.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .lf-mid {
  margin-top: 2%;
  height: 38%;
  overflow: hidden;
}
#pageContainer section > div .lf-bot,
#pageContainer section > div .rt-bot {
  margin-top: 2%;
  height: 48%;
  overflow: hidden;
}
#pageContainer section > div .rt-top {
  height: 50%;
  overflow: hidden;
}
#pageContainer section > div .titleDiv {
  height: 30px;
  line-height: 30px;
  margin: 9px 0 1px 0;
  padding: 0 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#pageContainer section > div .titleDiv span:last-child {
  color: #2C7DE0;
}
#pageContainer section > div .titleDiv span:first-child {
  color: #6AFFFF;
}
#pageContainer section > div .titleDiv span:first-child:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background: url("../images/title-icon.png") no-repeat center / 100% 100%;
}
#pageContainer section > div .titleCont {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}
#pageContainer section > div .titleCont > div {
  flex: 1;
}
/* 弹窗开始 */
.el-dialog {
  background: url(../images/dialog_bg.png) center center no-repeat / 100% 100%;
  padding: 50px 40px 20px;
}
.el-dialog__headerbtn {
  top: 14px;
  right: -43px;
}
.el-icon-close:before {
  content: "";
  background: url(../images/dialog_close.png) center center no-repeat / 100% 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.el-dialog__title:before {
  content: "";
  background: url(../images/dialog_tit.png) center center no-repeat / 100% 100%;
  display: inline-block;
  width: 41px;
  height: 21px;
  margin-right: 20px;
}
.el-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.el-dialog__body {
  padding: 0px 20px;
}
.el-picker-panel.el-date-picker.el-popper {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-color: #5fb6f9;
}
.el-picker-panel.el-date-picker.el-popper .el-date-table th {
  color: #fff;
}
.el-picker-panel.el-date-picker.el-popper .el-picker-panel__content table td .cell,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > button,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > span {
  color: #fff;
}
.el-picker-panel.el-date-picker.el-popper .el-picker-panel__content table td .cell:hover,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > button:hover,
.el-picker-panel.el-date-picker.el-popper .el-date-picker__header > span:hover {
  color: #409eff;
}
.el-picker-panel.el-date-picker.el-popper .popper__arrow {
  border-bottom-color: #409eff;
  border-top-color: #409eff;
}
.el-picker-panel.el-date-picker.el-popper .popper__arrow::after {
  border-bottom-color: #000;
  border-top-color: #000;
}
.el-select-dropdown.el-popper,
.el-select-dropdown.is-multiple {
  background: rgba(0, 0, 0, 0.8);
  border-color: #5fb6f9;
}
.el-select-dropdown.el-popper li.el-select-dropdown__item,
.el-select-dropdown.is-multiple li.el-select-dropdown__item {
  color: #fff;
}
.el-select-dropdown.el-popper li.el-select-dropdown__item.selected,
.el-select-dropdown.is-multiple li.el-select-dropdown__item.selected {
  color: #409eff;
  background: transparent;
}
.el-select-dropdown.el-popper li.el-select-dropdown__item.hover,
.el-select-dropdown.is-multiple li.el-select-dropdown__item.hover,
.el-select-dropdown.el-popper li.el-select-dropdown__item:hover,
.el-select-dropdown.is-multiple li.el-select-dropdown__item:hover,
.el-select-dropdown.el-popper li.el-select-dropdown__item.selected.hover,
.el-select-dropdown.is-multiple li.el-select-dropdown__item.selected.hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.el-select-dropdown.el-popper .popper__arrow,
.el-select-dropdown.is-multiple .popper__arrow {
  border-bottom-color: #409eff !important;
  border-top-color: #409eff !important;
}
.el-select-dropdown.el-popper .popper__arrow::after,
.el-select-dropdown.is-multiple .popper__arrow::after {
  border-bottom-color: #000 !important;
  border-top-color: #000 !important;
}
input.el-input__inner {
  background: transparent !important;
  border-color: #226888 !important;
  font-size: 16px;
  color: #ffffff;
}
.dia_header {
  border-bottom: 1px solid #233c67;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
}
.dia_header .left {
  display: flex;
  justify-content: space-between;
}
.dia_header .left > div {
  margin-right: 40px;
}
.dia_header .right {
  display: flex;
  align-items: center;
}
.dia_header .right > img {
  width: 25px;
  margin-right: 9px;
}
.nstration {
  color: #2c84c4;
}
.nstration.bottom {
  border-bottom: 1px solid #638b9b;
  padding-bottom: 3px;
  cursor: pointer;
}
.mr10 {
  margin-right: 10px;
}
